@use '../abstract/variables' as *;

.sr-only {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	padding: 0 !important;
	margin: -1px !important;
	overflow: hidden !important;
	clip: rect(0, 0, 0, 0) !important;
	white-space: nowrap !important;
	border-width: 0 !important;
}
.highlight {
    font-style: normal;
    text-decoration: underline !important;
    text-decoration-color: var(--clr-accent) !important;
    text-decoration-thickness: 0.2ch !important;
}
/* Mobile */
@media(width <= $mobile) {
	.desktop-only {
		display: none !important;
	}
}
/* Desktop */
@media(width > $mobile) {
	.mobile-only {
		display: none !important;
	}
}