* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    text-align: center;
    height: 100vh;
}

input {
    font-size: 60px;
    background-color: antiquewhite;
    color: green;
    text-align: center;
    top: 50vh;
}

input:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}