* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    height: 8vh;
    color: white;
}

figure {
    font-size: 2em;
}

.nav {
    list-style: none;
    position: absolute;
    right: 15px;
    top: 0px;
}

.nav__item {
    font-size: 1.3em;
    display: inline-block;
}

aside{
    height: 80vh;
    display: inline-block;
    background-color: violet;
    width: 20vw;
}

aside div {
    background-color: purple;
    height: 100px;
    border-radius: 15px;
    margin: 1.5vh;
}

section {
    position: absolute;
    display: inline-block;
    height: 80vh;
    width: 80vw;
    background-color: tomato;
}

footer {
    background-color: black;
    height: 10vh;
    color: white;
}