---
import Header from "../components/header.astro";
import AboutMain from "../components/about_main.astro";
import Footer from "../components/footer.astro";
---
<Header title="About" description="About me" />
<main id="content" class="content">
    <AboutMain />
</main>
<Footer />