
<main id="content" class="content">
    <section id="contact" class="content__section">
        <div class="content__container grid">
            <div>
                <h2 class="heading">Get in touch</h2>
                <p class="subheading">Get in touch with me</p>
                <p>
                    If you're working on something interesting or just want to connect,
                    <br>feel free to reach out.
                </p>
            </div>
            <!--div>
                <form class="form" action="#">
                    <fieldset>
                        <legend class="sr-only">Your personal information</legend>
                        <label for="name">
                            <span>Name:</span>
                            <input id="name" name="name" type="text" placeholder="Name">
                        </label>
                        <label for="email">
                            <span>Email:</span>
                            <input id="email" name="email" type="email" placeholder="Email">
                        </label>
                    </fieldset>
                    <fieldset>
                        <legend class="sr-only">Your message:</legend>
                        <label for="message">
                            <span>Comments:</span>
                            <textarea id="message" name="message" placeholder="Message"></textarea>
                        </label>
                    </fieldset>
                    <input type="submit" value="Send">
                </form>
            </div-->
        </div>
    </section>
</main>