---
import SocialNav from "./nav/socialNav.astro";
---

<section id="contact" class="content__section">
    <div class="content__container grid">
        <div>
            <h2 class="heading">Get in touch</h2>
            <p class="subheading">Get in touch with me</p>
            <p>
                If you're working on something interesting or just want to connect,
                <br>feel free to reach out.
            </p>
            <nav class="contact__social">
                <SocialNav />
            </nav>
        </div>
        <div>
            <form id="contact-form" class="form" method="post" action="https://formspree.io/f/mgvybgbj">
                <fieldset>
                    <legend class="sr-only">Your personal information</legend>
                    <label for="name">
                        <span>Name:</span>
                        <input id="name" name="name" type="text" placeholder="Name" required>
                    </label>
                    <label for="email">
                        <span>Email:</span>
                        <input id="email" name="email" type="email" placeholder="Email" required>
                    </label>
                </fieldset>
                <fieldset>
                    <legend class="sr-only">Your message:</legend>
                    <label for="message">
                        <span>Comments:</span>
                        <textarea id="message" name="message" placeholder="Message" required></textarea>
                    </label>
                </fieldset>
                <div class="form-status success"></div>
                <input type="submit" name="submit" value="Send">
            </form>
        </div>
    </div>
</section>

<script>
    var form = document.getElementById("contact-form");
    
    async function handleSubmit(event) {
        event.preventDefault();
        var status = form.querySelector(".form-status");
        var data = new FormData(event.target);
        fetch(event.target.action, {
            method: form.method,
            body: data,
            headers: {
                'Accept': 'application/json'
            }
        }).then(response => {
        if (response.ok) {
            status.classList.remove("error");
            status.classList.add("success");
            status.innerHTML = "Thanks for your submission!";
            form.reset()
        } else {
            status.classList.remove("success");
            status.classList.add("error");
            response.json().then(data => {
                if (Object.hasOwn(data, 'errors')) {
                    status.innerHTML = data["errors"].map(error => error["message"]).join(", ")
                } else {
                    status.innerHTML = "Oops! There was a problem submitting your form."
                }
            })
            }
        }).catch(error => {
            status.classList.remove("success");
            status.classList.add("error");
            status.innerHTML = "Oops! There was a problem submitting your form."
            console.error(error);
        });

        setTimeout(() => {
            status.classList.remove("success");
            status.classList.remove("error");
            status.innerHTML = "";
        }, 3000);
    }

    form.addEventListener("submit", handleSubmit)
</script>