    <footer class="footer">
        <div class="footer__container">
            <img src="/img/logo_white.svg" alt="Sergio Gómez" width="225" height="67.5">
            <nav class="footer__nav">
                <ul>
                    <li><a href="#hero">Home</a></li>
                    <li><a href="#projects">Projects</a></li>
                    <li><a href="#about">About</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </nav>
            <nav class="footer__nav">
                <ul>
                    <li><a href="https://github.com/Salegomx" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-github" title="GitHub" aria-label="GitHub"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/salegomx/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-linkedin-in" title="LinkedIn" aria-label="LinkedIn"></i></a></li>
                    <li><a href="https://www.instagram.com/salegomx/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram" title="Instagram" aria-label="Instagram"></i></a></li>
                    <li><a href="mailto:hola@sergiogomez.mx" target="_blank" rel="noopener noreferrer"><i class="fa-solid fa-envelope" title="Email" aria-label="Email"></i></a></li>
                </ul>
            </nav>
        </div>
        <div class="footer__copyright">
            <p>© <span class="footer__year"></span> • Designed and developed by <span class="footer__name">Sergio Gómez</span></p>
        </div>
    </footer>
    <script type="module" src="/src/main.js"></script>
</body>
</html>