---
import Nav from "./nav/nav.astro";
---

<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Sergio Gómez</title>
</head>
<body>
	<a href="#content" class="sr-only">Skip to content</a>
	<header class="header">
		<div class="header__container">
			<a class="header__logo" href="/">
				<img src="/img/logo.svg" alt="Sergio Gómez" width="95" height="45">
			</a>
			<div class="header__actions">
				<!--button id="theme-toggle" class="theme-toggle">
					<i class="fa-solid fa-circle-half-stroke"></i>
				</!button-->
				<nav class="header__nav">
					<Nav />
				</nav>
				<button id="header__menu-btn" class="mobile-only">
					<span class="top"></span>
					<span class="middle"></span>
					<span class="bottom"></span>
				</button>
			</div>
		</div>
	</header>