---
import ProjectCard from "./cards/projectCard.astro";
const projects = await Astro.glob("../content/projects/*.md");
---
<section id="projects" class="content__section">
    <div class="content__container">
        <h2 class="heading">My Work</h2>
        <p class="subheading">Real-world projects that reflect my approach to design and development.</p>
        <div class="grid">
            {
                projects.map((project) => {
                    return (
                        <ProjectCard
                            title={project.frontmatter.title}
                            link={project.frontmatter.link}
                            img={project.frontmatter.img}
                            description={project.compiledContent()}
                        />
                    )
                })
            }
        </div>
    </div>
</section>