<ul>
    <li><a href="https://github.com/Salegomx" target="_blank" rel="noopener noreferrer" title="GitHub" aria-label="GitHub"><i class="fa-brands fa-github" ></i></a></li>
    <li><a href="https://www.linkedin.com/in/salegomx/" target="_blank" rel="noopener noreferrer" title="LinkedIn" aria-label="LinkedIn"><i class="fa-brands fa-linkedin-in"></i></a></li>
    <li><a href="mailto:hola@sergiogomez.mx" target="_blank" rel="noopener noreferrer" title="Email" aria-label="Email"><i class="fa-solid fa-envelope"></i></a></li>
</ul>