:root {
    font-family: system-ui, sans-serif;
    --clr-accent-400: #f9fc44;
    --clr-accent-100: #fdff73;

    --clr-primary: gray;

    --color-neutral-100: hsl(255 100% 100%);
    --color-neutral-900: hsl(0 0% 0%);
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
    height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.header {
    color: #ffffff;
    background: rgb(0,2,91);
    background: linear-gradient(149deg, rgba(0,2,91,1) 0%, rgba(145,40,189,1) 40%, rgba(0,149,232,1) 100%);
    padding-bottom: 1px;
}

#innerHeader {
    margin: 2% auto;
    max-width: 150px;
}

.header__img {
    max-width: 100%;
    border-radius: 50%;
    box-shadow: 10px 10px 15px -8px #00000090;
    margin: 0 auto;
}

.header__title {
    background-color: rgba(20,20,20,0.8);
    border-radius: 5px;
    text-align: center;
}

.nav {
    position: sticky;
    width: 100%;
    top: 0;
    padding-top: 5px 10px;
    text-align: center;
}

.nav__item {
    display: inline-block;
    font-size: 20px;
}

.nav__item a {
    color: #404040;
    padding: 5px;
    border-radius: 2px;
    text-decoration: none;
}

.nav__item a:hover {
    color: #808080;
}

.nav__item a:active {
    color: #ffffff;
}

.content {
    max-width: 30%;
    margin: 50px auto;
}

.content__title {
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.footer-nav {
    list-style: none;
    background-color: #010B02;
    bottom: 0;
    border-radius: 1px;
}